hrvoreski_projekt/hrvoreski_projekt/hrvoreski_aplikacija_2/hrvoreski_aplikacija_2_2/src/conf/wsdl/localhost_8084/hrvoreski_aplikacija_1/GeoMeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.hrvoreski.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.hrvoreski.nwtis.foi.org/" name="GeoMeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.hrvoreski.nwtis.foi.org/" schemaLocation="http://localhost:8084/hrvoreski_aplikacija_1/GeoMeteoWS?xsd=1" />
</xsd:schema>
</types>
<message name="dajRangListu">
<part name="parameters" element="tns:dajRangListu" />
</message>
<message name="dajRangListuResponse">
<part name="parameters" element="tns:dajRangListuResponse" />
</message>
<message name="dajSveAdrese">
<part name="parameters" element="tns:dajSveAdrese" />
</message>
<message name="dajSveAdreseResponse">
<part name="parameters" element="tns:dajSveAdreseResponse" />
</message>
<message name="dajVazeceMeteoPodatkeZaAdresu">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeZaAdresu" />
</message>
<message name="dajVazeceMeteoPodatkeZaAdresuResponse">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeZaAdresuResponse" />
</message>
<message name="dajZadnjeMeteoPodatkeZaAdresu">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeZaAdresu" />
</message>
<message name="dajZadnjeMeteoPodatkeZaAdresuResponse">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeZaAdresuResponse" />
</message>
<message name="dajSveMeteoPodatkeZaAdresu">
<part name="parameters" element="tns:dajSveMeteoPodatkeZaAdresu" />
</message>
<message name="dajSveMeteoPodatkeZaAdresuResponse">
<part name="parameters" element="tns:dajSveMeteoPodatkeZaAdresuResponse" />
</message>
<message name="dajMeteoPodatkeZaAdresuUIntervalu">
<part name="parameters" element="tns:dajMeteoPodatkeZaAdresuUIntervalu" />
</message>
<message name="dajMeteoPodatkeZaAdresuUIntervaluResponse">
<part name="parameters" element="tns:dajMeteoPodatkeZaAdresuUIntervaluResponse" />
</message>
<message name="dajPosljednjihNMeteoPodatakaZaAdresu">
<part name="parameters" element="tns:dajPosljednjihNMeteoPodatakaZaAdresu" />
</message>
<message name="dajPosljednjihNMeteoPodatakaZaAdresuResponse">
<part name="parameters" element="tns:dajPosljednjihNMeteoPodatakaZaAdresuResponse" />
</message>
<portType name="GeoMeteoWS">
<operation name="dajRangListu">
<input wsam:Action="http://serveri.ws.hrvoreski.nwtis.foi.org/GeoMeteoWS/dajRangListuRequest" message="tns:dajRangListu" />
<output wsam:Action="http://serveri.ws.hrvoreski.nwtis.foi.org/GeoMeteoWS/dajRangListuResponse" message="tns:dajRangListuResponse" />
</operation>
<operation name="dajSveAdrese">
<input wsam:Action="http://serveri.ws.hrvoreski.nwtis.foi.org/GeoMeteoWS/dajSveAdreseRequest" message="tns:dajSveAdrese" />
<output wsam:Action="http://serveri.ws.hrvoreski.nwtis.foi.org/GeoMeteoWS/dajSveAdreseResponse" message="tns:dajSveAdreseResponse" />
</operation>
<operation name="dajVazeceMeteoPodatkeZaAdresu">
<input wsam:Action="http://serveri.ws.hrvoreski.nwtis.foi.org/GeoMeteoWS/dajVazeceMeteoPodatkeZaAdresuRequest" message="tns:dajVazeceMeteoPodatkeZaAdresu" />
<output wsam:Action="http://serveri.ws.hrvoreski.nwtis.foi.org/GeoMeteoWS/dajVazeceMeteoPodatkeZaAdresuResponse" message="tns:dajVazeceMeteoPodatkeZaAdresuResponse" />
</operation>
<operation name="dajZadnjeMeteoPodatkeZaAdresu">
<input wsam:Action="http://serveri.ws.hrvoreski.nwtis.foi.org/GeoMeteoWS/dajZadnjeMeteoPodatkeZaAdresuRequest" message="tns:dajZadnjeMeteoPodatkeZaAdresu" />
<output wsam:Action="http://serveri.ws.hrvoreski.nwtis.foi.org/GeoMeteoWS/dajZadnjeMeteoPodatkeZaAdresuResponse" message="tns:dajZadnjeMeteoPodatkeZaAdresuResponse" />
</operation>
<operation name="dajSveMeteoPodatkeZaAdresu">
<input wsam:Action="http://serveri.ws.hrvoreski.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatkeZaAdresuRequest" message="tns:dajSveMeteoPodatkeZaAdresu" />
<output wsam:Action="http://serveri.ws.hrvoreski.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatkeZaAdresuResponse" message="tns:dajSveMeteoPodatkeZaAdresuResponse" />
</operation>
<operation name="dajMeteoPodatkeZaAdresuUIntervalu">
<input wsam:Action="http://serveri.ws.hrvoreski.nwtis.foi.org/GeoMeteoWS/dajMeteoPodatkeZaAdresuUIntervaluRequest" message="tns:dajMeteoPodatkeZaAdresuUIntervalu" />
<output wsam:Action="http://serveri.ws.hrvoreski.nwtis.foi.org/GeoMeteoWS/dajMeteoPodatkeZaAdresuUIntervaluResponse" message="tns:dajMeteoPodatkeZaAdresuUIntervaluResponse" />
</operation>
<operation name="dajPosljednjihNMeteoPodatakaZaAdresu">
<input wsam:Action="http://serveri.ws.hrvoreski.nwtis.foi.org/GeoMeteoWS/dajPosljednjihNMeteoPodatakaZaAdresuRequest" message="tns:dajPosljednjihNMeteoPodatakaZaAdresu" />
<output wsam:Action="http://serveri.ws.hrvoreski.nwtis.foi.org/GeoMeteoWS/dajPosljednjihNMeteoPodatakaZaAdresuResponse" message="tns:dajPosljednjihNMeteoPodatakaZaAdresuResponse" />
</operation>
</portType>
<binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="dajRangListu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajSveAdrese">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajVazeceMeteoPodatkeZaAdresu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajZadnjeMeteoPodatkeZaAdresu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajSveMeteoPodatkeZaAdresu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajMeteoPodatkeZaAdresuUIntervalu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajPosljednjihNMeteoPodatakaZaAdresu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="GeoMeteoWS">
<port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding">
<soap:address location="http://localhost:8084/hrvoreski_aplikacija_1/GeoMeteoWS" />
</port>
</service>
</definitions>